  <script>
    const NavSidebarSymbole = document.getElementById("nav-not-dropped")
    const NavDroppedSidebarSymbole = document.getElementById("nav-dropped")

  </script>

<section class="indexsection">
  <div id="department-headers">
    <h1> <%= t(:department) %>:</h1>
    <h2 id="department-name-indexpage"><%= current_user.department.name %></h2>
  </div>

  <% if current_user.department.projects.any? %>
    <div class="projects">
      <% @projects.each do |project| %>
          <div class="projects-list">
            <img class="projectimg-projectindex" src="https://cdn.kimkim.com/files/a/images/10f1c1f8782ab6fb7f437c320d01748ef5ef497f/big-73b9c967455ce92655e6288753936249.jpg" alt="">
          <%= link_to project.name, projects_show_path(project.id), class: 'project-name-link-indexpage' %>
          <%# <%= link_to project.name, project_path(project.id) %>
            <%# <p style="text-decoration:underlined;"><%= project.name </p>
          <%# <% end %>
            <p class="projectdecription-projectindex">"<%= project.description %>"</p>
            <p><%= project.coordinates %></p>
          </div>
      <% end %>
  <% else %>
    <h1 id="no-projects-text">This department has no projects yet.</h1>
  <% end %>
    </div>


    <%= render :partial => 'shared/bg-images' %>
  </body>
    <%= render :partial => 'shared/footer' %>

  <script>
    function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
    }

    function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
    }
  </script>
</section>
